
			h1 {
			color:pink;
			font-family:georgia;
			}
		    p{
			font-size:10px;
			}
            body {
			background-color:grey;
			}
			background:pink
			.green{
			color:green;
			}
		